<h1>Books</h1>
<div class = "Books">
 <table width="20%">
  <tr align="center">
   <th>Title</th>
   <th>Body</th>
   <th colspan="3"></th>
  </tr>
 </table>

 <table width="60%">
  <% @books.each do |book| %>
  <tr>
   <td><%=  book.title %></td>
   <td><%= book.body %></td>
   <td>
    <%= link_to "Show", book_path(book.id) %>
   </td>
   <td>
    <%= link_to "Edit", edit_book_path(book.id) %>
   </td>
   <td>
    <%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
   </td>
  </tr>
  <% end %>
 </table>
</div>

 <h2>New book</h2>
<div class = "error">
 <% if @book.errors.any? %>
  <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2><%#エラーメッセージ%>
  <ul>
   <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
  </ul>
<% end %>
</div>

 <div class = "New">
  <%= form_with model: Book.new do |f| %>
 <div class = "field">
   <label for="book_title">Title</label>
    <%= f.text_field :title %>
  </div>
  <div class = "field">
   <label for="book_body">Body</label>
   <%= f.text_area :body %>
  </div>
  <div class = "submit">
   <%= f.submit 'Create Book' %>
  </div>
  <% end %>
</div>
